* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
/* ------------------------------- Start About Navbar ------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: #f4f4f4;
    height: 55px;


}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo .reddit-logo {
    height: 50px;
    height: 50px;
    margin-right: 20px;
}
.logo p {
    font-size: 30px;
    color: rgb(255 0 0);
    text-shadow: 0px 0px 3px rgb(117 117 117 / 12%);
}
.signSection {
    display: flex;
    align-items: center;
}

.signSection a {
    text-decoration: none;
    color: #bb0000;
    border: 2px solid rgb(255 83 0);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 10px;
}
    /* ------------------------------- End About Navbar ------------------------------- */

    /* ------------------------------- Start About Main ------------------------------- */

    /* ------------------------------- Start About  Posts ------------------------------- */
    .main {
        display: flex;
        justify-content: space-around;
        margin-top: 60px;

    }
    .posts .onePost {
        width: 800px;
        border: 2px solid #000;
        margin: 40px 5px;

    }
    .username {
        font-weight: 600;
        padding: 30px 20px 0px;

    }

    .title {
        margin: 20px 0px;
        font-size: 35px;
        padding: 5px 20px;

    }

    .title p {
        text-decoration: underline;
    }
    .content p {
        font-size: 18px;
        padding: 5px 20px;

    }
    .btns {
        background: #dadada;
        padding: 20px 15px;
    }
    .btns a {
        text-decoration: none;
        color: #010101;
        border: 2px solid #000000;
        border-radius: 9px;
        padding: 5px 20px;
        background: #b9b9b9;
        margin: 0px 10px;
        cursor: pointer;

    }
    .btns a i {
        padding-left: 12px;
        
    }
    /* ------------------------------- End About  Posts ------------------------------- */
    
    /* ------------------------------- Start About Add Post ------------------------------- */
    .addPost form {
        display: flex;
        flex-direction: column;
        border: 2px solid #000;
        background: #fff;
        padding: 10px 15px;
    }
    .addPost form label {
        font-size: 20px;
    }
    .addPost form input  , .addPost form textarea {
        background-color: rgb(211, 210, 210);
        border: none;
        padding: 10px;
        margin: 10px 0px;
        outline: none;
        border-radius: 3px;

    }
    .addPost form button {
        padding: 10px 5px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        background: #ff905a;
        margin-bottom: 10px;
    }
    /* ------------------------------- End About Add Post ------------------------------- */
    
    /* ------------------------------- End About Main ------------------------------- */